ul{
    list-style: none;
}

.top{
    font-size: 13px;
}
.botom{
    font-size: 13px;
}

.dropdown:hover .dropdown-menu {
      display: block;
}

.top1{
    font-size: 10px;
    color: grey;
}
.img1{
    width: 80%;
}
.top2{
    font-size: 10px;
}
.location{
    height: 55px;
}
.search{
    height: 55px;
       border: none;
}
.user{
    width: 40px;
    height: 30px;
}
.plist{
    width: 30px;
    height: 20px;
}
.shop{
width: 50px;
height: 40px;
background: #FFF1EE;
border: 0;
}

.category{
    width: 280px;
    margin-top: 23px !important ;  
}

 .text1{
    font-size: 15px;
 }

 .cw{
    width: 200px;
 }
 
 .slide{
    padding: 20px;
     width: 100%;
     

 }

 .home{
    /* background: #e0e0e1; */
 }

 .shoplist{
    width: 64%;
    height: 300px;  
 }
 .text2{
    font-size: 13px;
 }
.box1:hover 
{
  background:#2BBEF9 !important;
  color: white !important;

}


.homeproduct{
   width: 85%; 
}
.pic img{
    transition: 0.9s;
    
}
.pic:hover img{
    transform: scale(1.2);
}
.pic{
    overflow: hidden;
}
.foot{
    background: #233A95;
}
.cat{
    height: 350px;
}
.fruit{
    width: 90%;
}
.fruit1{
    width: 100%;
}
.stock{
    font-size: 15px;
}
.footersub{
    height: 50px;
}
.call{
    width: 40px;
    height: 40px;
border: 2px solid rgb(40, 39, 39);
border-radius: 50%;
}
.google{
    width: 20%;
    height: 35px;
}

.social{
border: 1px solid rgb(40, 39, 39);
height: 30px;
width: 30px;
border-radius: 50%;
padding: 3px;

}
.range{
    width: 80%;
}

.add
{width: 60%;}

.trendingpro{
    width: 40%;
    height: 30%;
}
.girlphoto{
    background: #FFFBEC;
}

.addhome{
    background: #F8EFEA;
    height: 100px;
}
.addimg{
    height: 100px;
width: 80%;
}

.star{
 color:#FFCD00;
}

.mega{
    position: absolute;
    width: 100%;
    left: 0;
}
.fisrtpurchase{
    background: #FFEEF2;
}
.botomcat{
    height: 200px;
    align-items: center;
}
.navmenu{
    padding-top: 10px;
}